# Data collection
requests
beautifulsoup4
pandas
nltk
textblob
newsapi-python
python-dateutil
python-dotenv
pyarrow
sodapy
xmltodict
langdetect
scikit-learn
datasets
transformers
torch
nltk
spacy
sentencepiece
dvc
torch
torchvision
torchaudio
jupyter
tqdm
